<section>
    <!--Área Lateral direita-->
    <aside class="col-l4 my-bottom ">
        <!--Quem sou eu-->
        <section class="atRight ">
            <header>
                <img class="my-mix-hover" src="img/foto.jpg" id="perfil"/>
                <h3>Sobre</h3>
            </header>
            <article>
                <p>Sou Lucas,</p>
                <p>Tenho 21 anos e sou graduando na Universidade Católica de Petrópolis 
                    em Engenharia de Computação. Passo maior parte do meu 
                    tempo estudano para as provas e aprendendo cada vez
                    mais sobre o gigante e incrível mundo da Computação.
                </p>
            </article>
            <footer>
                <%= link_to "..mooore..", root_path, class:"btn-block" %>
            </footer>
        </section>
    </aside>
        <!--Fim Quem sou eu-->

    <!--Fim lateral direita-->

    <!--Área esquerda dos Posts-->
    <section class="col-l8 col-s11 my-left">

        <!--Primeiro e Exemplo de post-->
        <% @posts.each do |p| %>
            <%= link_to (pages_post_path( :id =>  p.id)) do  %>
                <section class="col-l5 col-s11 col-m11 post">
                    <header>
                        <img src="img/bkgd-1.jpg" class="post-img" alt="imagem post001"/>
                        <h2><%=p.title%></h2>
                    </header>
                    <article>
                        <p><%=p.callText%></p>
                    </article>
                </section>
            <% end %>
        <% end %>

        <!--Fim do primeiro Post-->
    </section>
    <!--Fim dos Posts-->
            <!--Parte categorias/redes fixas-->
    <aside class="col-l4 col-s12 col-m12 my-bottom ">
        <div >
            <!--Categorias-->
            <section class="atRight categorias">
                <header class="title">
                    <h3>Categorias</h3>
                </header>
                <article>
                    <ul>
                        <li><%= link_to "Fotos", pages_fotos_path, class:"my-btn-hover" %></li>
                        <li><%= link_to "Programação", pages_code_path, class:"my-btn-hover" %></li>
                        <li><%= link_to "Diário", pages_diary_path, class:"my-btn-hover" %></li>
                        <li><%= link_to "Músicas", root_path, class:"my-btn-hover" %></li>
                    </ul>
                </article>
            </section>
            <!--Fim Categorias-->
            <!--Redes sociais-->
            <section class="atRight">
                <header class="title">
                    <h3>Onde me encontrar</h3>
                </header>
                <article class="links">
                    <ul>
                        <li><p><a href="https://www.facebook.com/lucascercun" target="_blank">Facebook</a></p></li>
                        <li><p><a href="https://www.linkedin.com/in/lucas-cerqueira-a86b31152/" target="_blank">LinkedIn</a></p></li>
                        <li><p><a href="https://github.com/LucasTMik" target="_blank">GitHub</a></p></li>      
                    </ul>
                </article>
            </section>
            <!--Fim das Redes sociais-->
        </div>
        <!--Fim Categorias/Redes fixas-->
    </aside>
</section>